@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-image: url("https://res.cloudinary.com/djhd1xpdp/image/upload/v1762149334/Telugu_movies_poster_d4tczc.jpg");
    background-size: cover;
    height: 100vh;
    margin: 10px;
    margin: 10px;
}

.button1 {
    font-family: "Bree Serif";
    font-size: 22px;
    color: #ffffff;
    background-color: #C8292A;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ffffff;
    margin: 10px;
}

.align {
    text-align: center;
    padding: 90px;
}

.container2 {
    background-color: #ffffff;
    height: 110vh;
    background-size: cover;
    margin: 13px;
}

.button2 {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    border-width: 4px;
    border-color: #ffffff;
    padding: 5px;
    width: 110px;
}

.align2 {
    text-align: center;
}

.container3 {
    background-color: #000000;
    height: 145vh;
    background-size: cover;
    margin: 20px;
}

.bomma {
    height: 40vh;
    width: 25vh;
    margin: 13px;
}

.button3 {
    font-family: "Bree Serif";
    font-size: 20px;
    color: #ffffff;
    background-color: #C8292A;
    border-radius: 7px;
    border-width: 2px;
    border-color: #ffffff;
    height: 40px;
    width: 110px;

}

.main-container2 {
    background-image: url("");
    background-size: cover;
    height: 20vh;
    margin: 13px;
}

.button4 {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    border-width: 4px;
    border-color: #ffffff;
    padding: 5px;
    width: 110px;
    margin: 10px;
}

.arraivals {
    background-color: #000000;
    height: 120vh;
    background-size: cover;
    margin: 5px;
    padding: 5px;

}

.h1 {
    color: #91A71E;
    font-family: "Monoton";
    font-size: 34px;
    padding: 5px;
    margin: 10px;
}

.cherry {
    height: 150px;
    width: 140px;
}

.gundi {
    color: #91A71E;
    border-radius: 10px;
    border-width: 10px;
    border-color: #91A71E;
    background-color: #000000;
    height: 50px;
    width: 140px;
}

.logo {
    height: 40px;
    width: 40px;
}

.tolly {
    margin: 5px;
    padding: 5px;

}

.clip {
    margin: 5px;
    padding: 5px;
}

.align3 {
    text-align: center;

}

.gundi2 {
    padding: 5px;
    margin: 5px;
}

.h2 {
    color: #000000;
    font-family: "Bree Serif";
    font-size: 19px;
    padding: 5px;
    margin: 10px;
}

.home {
    background-color: #000000;
    height: 180vh;
    background-size: cover;
}

.head {
    font-family: "Monoton";
    font-size: 60px;
    text-align: center;
    padding: 20px;
    color: #835747;
}

.para1 {
    font-family: "Bree Serif";
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: #FFECA1;
}

.para2 {
    font-family: "Bree Serif";
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #FFECA1;
}

.span1 {
    color: #835747;
    font-family: "Monoton";
}

.downd {
    background-color: #835747;
    color: #FFECA1;
    font-family: "Bree Serif";
    font-size: 23px;
    border-radius: 35px;
    border-width: 0px;
    height: 60px;
    width: 300px;
    padding: 10px;
}

.but-align {
    text-align: center;
    margin: 5px;
}

.movie {
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.downd1 {
    background-color: #FFECA1;
    color: #835747;
    font-family: "Bree Serif";
    font-size: 23px;
    border-radius: 35px;
    border-width: 0px;
    height: 60px;
    width: 300px;
    padding: 10px;
}

.about {
    background-color: #000000;
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding: 10px;
}

.why {
    font-size: 40px;
    font-family: "Bree Serif";
    color: #835747;
}

.shot {
    border-radius: 15px;
    height: 450px;
    width: 330px;
}

.suggest {
    text-align: center;
    background-color: #6C6868;
    background-size: cover;
    height: 50vh;
}

.h5 {
    color: #835747;
    font-family: "Monoton";
    font-size: 40px;
    padding: 5px;
}

.p5 {
    color: #FFECA1;
    font-family: "Bree Serif";
    font-size: 20px;
}

.change:hover {
    background-color: #835747;
    color: #FFECA1;
}

.change1:hover {
    background-color: #FFECA1;
    color: #835747;
}

.nav-color {
    color: #ffffff;
}